
/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eee;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

a {
  color: #0066cc;
  text-decoration: none;
}

/* Header styles */
header {
  background-color: #eee;
  padding: 20px;
  max-width: 90rem;
  margin: auto;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
 text-align: center;
 }

/* Navigation styles */
nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  font-weight: bold;
  text-transform: uppercase;
}

/* Main content styles */
main {
  padding: 20px;
}

/* Footer styles */
footer {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
}

